@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;        
    font-size: 16px;
    font-weight: normal;
    background: #f1f1f1;
    color: #0f141e;
}
.a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: blue;
}

a:visited {
    color: grey;
}

.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}
.avatar{
    width: 150px;
    border-radius: 30px;
    box-shadow:4px 4px 14px rgba(0, 0, 0, 0.25) ;
}
.info {
    margin-bottom: 20px; 
}

.info-text p{
    font-style: italic;
    font-weight: bold;
    color: #86898f;
    margin: 0;
}
.info-text h4 {
    margin-bottom: 10px;
}
.card {
    border-radius:10px;
    padding: 15px 20px;
    margin-bottom: 20px;
}
.card h2 {
margin-bottom: 10px;
}

.bg-yellow{
    background: #fff9dc;
}
.bg-red{
    background: #ffe5e5;
}

.btn {
    background: #111;
    padding: 15px 20px;
    color: #fff;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: .8;
}